<% layout("/layouts/boilerplate") %>
<body>
<div class="row">
    <div class="col-8 offset-2 ">
    <h1 class="fs-2">Edit Your Listing</h1>
    <form action="/listings/<%= listing._id %>/?_method=PUT" method="post" novalidate  class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">
                    Title should be valid
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Discription</label>
            <textarea class="form-control" type="text" name="listing[description]"  value="<%= listing.description %>" required></textarea>
            <div class="invalid-feedback">
                Please enter short description
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input class="form-control" type="text" name="listing[image]"  value="<%= listing.image %>" required>
            <div class="invalid-feedback">
                    Image link should be valid
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" name="listing[price]" type="number" value="<%= listing.price %>" required>
                <div class="invalid-feedback">
                    Price should be valid
            </div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input class="form-control" type="text" name="listing[country]"  value="<%= listing.country %>" required>
                <div class="invalid-feedback">
                    Country name should be valid
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" name="listing[location]"  value="<%= listing.location %>" required>
            <div class="invalid-feedback">
                    Location should be valid
            </div>
        </div>

        <button type="submit" class="btn btn-dark col-2 mb-5 add-btn">Add</button>
    </form>
    </div>
</div>
</body>